{{ define "subject"}}New email confirmation{{ end }}
{{ define "content" -}}
You have changed your email address for {{.ServiceName}} to {{.NewEmail}}.
To confirm this change, please click on the following link: {{.AppUrl}}/email-verification?token={{.Token}}
{{- end }}