{{ define "subject"}}Password reset{{ end }}
{{ define "content" -}}
You have reset your password for {{.ServiceName}}.
Please click on the following Link to choose a new password: {{.AppUrl}}/password-reset?token={{.Token}}
{{- end }}