{{ define "subject"}}Sign up attempted{{ end }}
{{ define "content" -}}
You have tried to sign up for {{.ServiceName}} again.
Since you already have an account, you can instead just log in normally and ignore this email.
{{- end }}