package render

templ indexPage(serviceName string, title string, nonce string, csrfToken string, environment string) {
    <!DOCTYPE html>
    <html lang="en">
    @head(title, nonce, csrfToken, environment)
    <body>
    @loginForm()
    @footer(serviceName)
    </body>
    </html>
}