package layout

templ footer(serviceName string) {
    <footer class="footer items-center p-4 bg-neutral text-neutral-content">
      <aside class="items-center grid-flow-col">
        <p>{serviceName} - 2024</p>
      </aside>
    </footer>
}