{{define "header" -}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/tailwind.css" />
    <title>{{- template "title" -}}</title>
</head>
{{- end}}
{{define "footer" -}}
    <footer>
        <p>{{.ServiceName}} - 2024 </p>
    </footer>
{{- end}}
<!DOCTYPE html>
{{ template "header" . }}
<body>
{{ template "content" . }}
{{ template "footer" . }}
</body>
</html>